<!doctype html>
<html lang="$lang$">
  <head>
    <!-- <title>$title$</title>-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="descrihttp://localhost:3000ption" content="$desc$" />
    $if(author)$
    <meta name="author" content="$author$" />
    $endif$ $if(keywords)$
    <meta name="keywords" content="$keywords$" />
    $endif$

    <meta property="og:site_name" content="$siteName$" />
    <meta property="og:title" content="$title$" />
    <meta property="og:url" content="$root$$url$" />
    <meta property="og:description" content="$desc$" />
    $if(image)$
    <meta property="og:image" content="$root$$image$" />
    $endif$ $if(type)$
    <meta property="og:type" content="$type$" />
    $else$
    <meta property="og:type" content="website" />
    $endif$ $if(image)$
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="$root$$image$" />
    $endif$
    <meta property="twitter:site" content="$siteName$" />
    <meta property="twitter:title" content="$title$" />
    <meta property="twitter:description" content="$desc$" />
    $if(authorTwitter)$
    <meta property="twitter:creator" content="$authorTwitter$" />
    $endif$

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="$root$$url$" />

    <link
      rel="alternate"
      href="./atom.xml"
      title="$feedTitle$"
      type="application/atom+xml"
    />
    <link
      rel="alternate"
      href="./rss.xml"
      title="$feedTitle$"
      type="application/rss+xml"
    />

    <link rel="stylesheet" href="./css/default.css" />
    <link rel="stylesheet" href="./css/code.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="./css/default.css" />
  </head>

  <body>
    <!-- <header>
       <h1>$title$</h1>
    </header>-->
    $body$
    <footer>
      &copy; $year$ Ben Prevor. All rights reserved. This site is powered by
      <a href="https://github.com/charles37/benblog"
        >Haskell and Nix via Hakyll</a
      >.
    </footer>

    <script defer src="./js/script.js"></script>
  </body>
</html>
